{% extends "./plantilla.html" %}

{% block contenido %}
<div class="container mt-4">
    <h3 class="text-center mb-4">Lista de Calificaciones</h3>

    

    <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Estudiante</th>
                <th>Clase</th>
                <th>Tarea</th>
                <th>Nota</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for calificacion in calificaciones %}
            <tr>
                <td>{{ calificacion.id }}</td>
                <td>{{ calificacion.estudiante.nombre }} {{ calificacion.estudiante.apellido }}</td>
                <td>{{ calificacion.clase.nombre }}</td>
                <td>{{ calificacion.tarea }}</td>
                <td>{{ calificacion.nota }}</td>
                <td>
                    <a href="/editarCalificacion/{{ calificacion.id }}" onclick="return confirm('¿Estás seguro que deseas editar?')" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/eliminarCalificacion/{{ calificacion.id }}" onclick="return confirm('¿Estás seguro?')" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
