{% extends "./plantilla.html" %}

{% block contenido %}
<!-- Título antes de la tabla -->
<div class="container mt-4">
    <h3 class="text-center mb-4">Lista de Clases</h3>


    <!-- Tabla con diseño -->
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre de la Clase</th>
                <th>Descripción</th>
                <th>Estudiante</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for clase in clases %}
            <tr>
                <td>{{ clase.id }}</td>
                <td>{{ clase.nombre }}</td>
                <td>{{ clase.descripcion }}</td>
                <td>
                    {% if clase.estudiante %}
                        {{ clase.estudiante.nombre }}
                    {% else %}
                        No asignado
                    {% endif %}
                </td>
                <td>
                    <a href="/editarClase/{{ clase.id }}" onclick="return confirm('¿Estás seguro que deseas editar?')" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/eliminarClase/{{ clase.id }}" onclick="return confirm('¿Estás seguro?')" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock %}
