{% extends "./plantilla.html" %}

{% block contenido %}
<div class="container mt-4">
    <h3 class="text-center mb-4">Lista de Docentes</h3>

    
    <table class="table table-bordered table-striped table-hover table-sm">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            {% for docente in docentes %}
            <tr>
                <td>{{ docente.id }}</td>
                <td>{{ docente.nombre }}</td>
                <td>{{ docente.apellido }}</td>
                <td>{{ docente.email }}</td>
                <td>
                    <a href="/editarDocente/{{ docente.id }}" onclick="return confirm('¿Estás seguro que deseas editar?')" class="btn btn-warning btn-sm">Editar</a>
                    <a href="/eliminarDocente/{{ docente.id }}" onclick="return confirm('¿Estás seguro?')" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
